.container {
  width: 100vw;
  max-width: 780px;
  height: 100vh;
  margin: 0 auto;
  align-content: center !important;
}

.container[_ngcontent-opd-c126] {
  /* width: 100vw; */
  max-width: 1000px;
  /* height: 100vh; */
  /* margin: 0 auto; */
  align-content: center !important;
}

.container header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 190px;
}

.ficha-tecnica-titulo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.ficha-tecnica-titulo {}

.ficha-tecnica-titulo h1 {
  font-size: 20px;
}

.ficha-tecnica-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-bottom: 2px solid #000;
}

.ficha-tecnica-descricao-box {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.ficha-tecnica-descricao-box span {
  margin-bottom: 4px;
}

.ficha-tecnica-descricao-box span:last-child {
  margin-bottom: 0;
}

.itens-preparo {}

.itens-preparo header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #000;
  justify-content: flex-end;
}

.itens-preparo header h1 {
  font-size: 12px;
}

.table {
  width: 78%;
  border-collapse: collapse;
  min-width: 550px;
  margin-top: 30px;
}

.table-preparo {
  align-items: center !important;
  width: 85%;
  border-collapse: collapse;
  min-width: 565px;
  margin-top: 30px;
  text-align: left;
  font-size: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}

table {
  width: 78%;
}

th {
  text-align: center !important;
  font-size: 16px;
}

th:first-child {
  border-top-left-radius: 8px;
  width: 50%;
}

th:last-child {
  border-top-right-radius: 8px;
  padding-right: 1.5rem;
}

td {
  /* border-top: 4px solid #ddd; */
  padding: 3px;

}

.td-color {
  background-color: rgb(248, 247, 247);
  text-align: left !important;
}

td:first-child {
  border-top-left-radius: 8px;
  padding-left: 1.5rem;
  width: 55%;
}

td:last-child {
  border-top-right-radius: 8px;
  padding-right: 1.5rem;
}

.modo-preparo {
  margin-top: 10px;
}

.modo-preparo header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #000;
  justify-content: flex-end;
}

.modo-preparo header h1 {
  font-size: 12px;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 2rem;
  border-bottom: 1px solid #dee2e6 !important;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}


.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  max-width: 100% !important;
  max-height: 100% !important;
  min-width: 580px!important;
  align-items: center !important;

}


.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.3rem;
  outline: 0;
}

.card {
  position: relative;
  align-content: center;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid #000 !important;
  border-radius: 0.25rem;
  width: 85% !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 10px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-control {
  display: block;
  width: 85% !important;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-2 {
  display: block;
  width: 100% !important;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.modal-body-2 {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  max-width: 100% !important;
  max-height: 100% !important;
  min-width: 70%!important;
  align-items: center !important;
}
